@media (max-width: 480px) {
  .main-container {
    min-width: 100px;

    height: auto;
  }

  .main-header {
    height: 60px;
  }

  .main-header > aside {
    padding: 15px;
  }

  .title h1 {
    font-size: 10px;

    padding: 10px;

    border-radius: 5px;

    background: var(--primary-color);
  }

  .profile-name-username {
    display: none;
  }

  .profile-container {
    flex-direction: row-reverse;
  }

  .profile-photo {
    height: 40px;
    width: 40px;
  }

  .main-body {
    flex-wrap: wrap;
  }

  .main-body aside {
    width: 100%;
    height: auto;
  }

  .main-frame {
    border-radius: 0px;
  }

  .main-frame {
    height: auto;
  }

  .main-frame-output {
    height: 500px;

    display: flex;
    flex-flow: column-reverse;
  }

  .main-frame-controls {
    padding-bottom: 20px;
  }

  input[type="checkbox"] + label p {
    font-size: 10px;
  }

  .code-container .code {
    height: 200px;
    width: 90%;
  }

  .code-container .code button {
    font-size: 14px;

    font-weight: bold;
  }

  .main-footer {
    font-size: 18px;

    height: 60px;
  }
}
